#include <windows.h>
#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAINDIALOG DIALOG DISCARDABLE  50, 50, 181, 65
STYLE WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU | WS_THICKFRAME
CAPTION "Excel Client"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "&Control Excel",IDC_CONTROL_EXCEL,57,7,58,16
    PUSHBUTTON      "E&xit",IDC_EXIT,57,30,59,15
END



