// VBUtil.RC - Just Version resources

//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x10001L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252, 0x414, 1252
    END
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Hi, mom!\0"
            VALUE "CompanyName", "Microsoft Press\0"
            VALUE "FileDescription", "C++ Utility Functions for Visual Basic\0"
            VALUE "FileVersion", "1.10\0"
            VALUE "InternalName", "VBUTIL32.DLL\0"
            VALUE "LegalCopyright", "Copyright © 1995, 1996 by Microsoft Press\0"
            VALUE "LegalTrademarks", "VBUTIL® is not a registered trademark of Microsoft Press\0"
            VALUE "OriginalFilename", "VBUTIL32.DLL\0"
            VALUE "ProductName", "Visual Basic\0"
            VALUE "ProductVersion", "4.00\0"
        END
    END
END

