.mstheme
{
	nav-banner-image: url(trabanna.gif);
	separator-image: url(trahsepa.gif);
	list-image-1: url(trabul1a.gif);
	list-image-2: url(trabul2a.gif);
	list-image-3: url(trabul3a.gif);

	navbutton-horiz-normal: url(tranvhna.gif);
	navbutton-horiz-hovered: url(tranvhha.gif);
	navbutton-horiz-pushed: url(tranvhsa.gif);
	navbutton-vert-normal: url(tranvvna.gif);
	navbutton-vert-pushed: url(tranvvsa.gif);
	navbutton-vert-hovered: url(tranvvha.gif);
	navbutton-home-normal: url(trahomna.gif);
	navbutton-home-hovered: url(trahomha.gif);
	navbutton-home-pushed: url(trahomsa.gif);
	navbutton-next-normal: url(tranexna.gif);
	navbutton-next-hovered: url(tranexha.gif);
	navbutton-next-pushed: url(tranexsa.gif);
	navbutton-prev-normal: url(trabacna.gif);
	navbutton-prev-hovered: url(trabacha.gif);
	navbutton-prev-pushed: url(trabacsa.gif);
	navbutton-up-normal: url(traupbna.gif);
	navbutton-up-hovered: url(traupbha.gif);
	navbutton-up-pushed: url(traupbsa.gif);
}
.mstheme-bannertxt
{
	font-family: Haettenschweiler, Arial, Helvetica;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Impact, Arial, Helvetica;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Impact, Arial, Helvetica;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Impact, Arial, Helvetica;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Impact, Arial, Helvetica;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Impact, Arial, Helvetica;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Impact, Arial, Helvetica;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
