a:link
{
	color: rgb(153,0,51); 
}
a:visited
{
	color: rgb(0,153,102); 
} 
a:active 
{
	color: rgb(255,102,0);
}
body
{
	background-color: rgb(255,255,153);
	color: rgb(51,51,153);
}
table
{
	table-border-color-light: rgb(51,153,102);
	table-border-color-dark: rgb(0,102,51); 
}
h1
{
	color: rgb(51,51,153);
}
h2
{
	color: rgb(0,153,102,); 
}
h3
{
	color: rgb(153,102,0); 
}
h4
{
	color: rgb(51,51,153);
}
h5
{
	color: rgb(0,153,102);
}
h6
{
	color: rgb(153,102,0);
}
