.mstheme
{
	nav-banner-image: url(anabnr2.gif);
	separator-image: url(anarule.gif);
	list-image-1: url(anabull1.gif);
	list-image-2: url(anabull2.gif);
	list-image-3: url(anabull3.gif);

	navbutton-horiz-normal: url(nahbs.gif);
	navbutton-horiz-hovered: url(nahbh.gif);
	navbutton-horiz-pushed: url(nahbp.gif);
	navbutton-vert-normal: url(navbs.gif);
	navbutton-vert-pushed: url(navbp.gif);
	navbutton-vert-hovered: url(navbh.gif);
	navbutton-home-normal: url(nahomes.gif);
	navbutton-home-hovered: url(nahomeh.gif);
	navbutton-home-pushed: url(nahomep.gif);
	navbutton-next-normal: url(nanexts.gif);
	navbutton-next-hovered: url(nanexth.gif);
	navbutton-next-pushed: url(nanextp.gif);
	navbutton-prev-normal: url(naprevs.gif);
	navbutton-prev-hovered: url(naprevh.gif);
	navbutton-prev-pushed: url(naprevp.gif);
	navbutton-up-normal: url(naups.gif);
	navbutton-up-hovered: url(nauph.gif);
	navbutton-up-pushed: url(naupp.gif);
}
.mstheme-bannertxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: rgb(51,51,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: arial narrow;
	font-weight: bold;
	color: rgb(51,51,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: arial narrow;
	font-weight: bold;
	color: rgb(51,51,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(51,51,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(51,51,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(51,51,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	font-weight: bold;
	color: rgb(51,51,153);
	text-align: center;
	vertical-align: middle;
}
