// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXISAPI_RC__
#define __AFXISAPI_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< Ne peut changer les ressources standards de MFC! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// ISAPI HTML Text for HTTP error conditions

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_HTTP_TITLE          "<HEAD><TITLE>Erreur HTTP%d</TITLE></HEAD>"
	AFX_IDS_HTTP_NO_TEXT        "<BODY><H1>Erreur HTTP %d: Aucun message disponible</H1></BODY>\r\n"
	AFX_IDS_HTTP_BAD_REQUEST    "<BODY><H1>BAD REQUEST</H1><P>Votre client a emis une requête que le serveur ne peut interpréter.<br>Requête: %s\r\n"
	AFX_IDS_HTTP_AUTH_REQUIRED "<BODY><H1>AUTH REQUIRED</H1><P>Authentification ou capacité d'authentification du navigateur a échoué.</BODY>\r\n"
	AFX_IDS_HTTP_FORBIDDEN  "<BODY><H1>FORBIDDEN</H1><P>Votre client n'a pas le privilège d'accéder l'URL de ce serveur.</BODY>\r\n"
	AFX_IDS_HTTP_NOT_FOUND  "<BODY><H1>NOT FOUND</H1><P>L'URL de ce serveur est introuvable.</BODY>\r\n"
	AFX_IDS_HTTP_SERVER_ERROR   "<BODY><H1>SERVER ERROR</H1>Le serveur n'a pu compléter votre requête a cause d'une erreur interne ou erreur de configuration.</BODY>\r\n"
	AFX_IDS_HTTP_NOT_IMPLEMENTED "<BODY><H1>NOT IMPLEMENTED</H1>Le serveur ne peut exécuter la méthode <b>%s</b> présentement.</BODY>\r\n"
END


#endif //!_AFXDLL
#endif //!__AFXISAPI_RC__
