
/******************************************************************************\
*       This is a part of the Microsoft Source Code Samples. 
*       Copyright (C) 1993-1995 Microsoft Corporation.
*       All rights reserved. 
*       This source code is only intended as a supplement to 
*       Microsoft Development Tools and/or WinHelp documentation.
*       See these sources for detailed information regarding the 
*       Microsoft samples programs.
\******************************************************************************/

/***************************************************************************
 *                                                                         *
 *  FILE    : PortTool.rc                                                  *
 *                                                                         *
 *  DESCRIPTION : Resource script file for PortTool.                       *
 *                                                                         *
 ***************************************************************************/
#include "PortTool.H"
#include "port.h"

IDPortTool   ICON LOADONCALL DISCARDABLE   "PortTool.ico"
IDBkPort     ICON LOADONCALL DISCARDABLE   "PortStat.ico"

/*  frame window menu */

IDPortTool MENU LOADONCALL DISCARDABLE
{
    POPUP   "&File"
	{
	MENUITEM    "&New",			IDM_FILENEW
	MENUITEM    "&Open...", 		IDM_FILEOPEN
	MENUITEM    "&Save",			IDM_FILESAVE
	MENUITEM    "Save &As...",		IDM_FILESAVEAS
	MENUITEM    SEPARATOR
	MENUITEM    "&Print",			IDM_FILEPRINT
	MENUITEM    "Printer Se&tup...",	IDM_FILESETUP
	MENUITEM    SEPARATOR
	MENUITEM    "E&xit",			IDM_FILEEXIT
	MENUITEM    SEPARATOR
	MENUITEM    "A&bout PortTool...",	IDM_FILEABOUT
	}
    POPUP	"&Edit"
	{
	MENUITEM    "&Undo\tAlt+BkSp",		IDM_EDITUNDO
	MENUITEM    SEPARATOR
	MENUITEM    "Cu&t\tShift+Del",		IDM_EDITCUT
	MENUITEM    "&Copy\tCtrl+Ins",		IDM_EDITCOPY
	MENUITEM    "&Paste\tShift+Ins",	IDM_EDITPASTE
	MENUITEM    "&Delete\tDel",			IDM_EDITCLEAR
	MENUITEM    SEPARATOR
	MENUITEM    "&Select All",			IDM_EDITSELECT
	MENUITEM    "&Word Wrap"			IDM_EDITWRAP
	MENUITEM    "Sc&roll Bars",			IDM_EDITSCROLL
	MENUITEM    SEPARATOR
	MENUITEM    "Select &Font...",		IDM_EDITFONT
	}
    POPUP	"&Search"
	{
	MENUITEM    "&Find...", 		IDM_SEARCHFIND
	MENUITEM    "&Next\tF3",		IDM_SEARCHNEXT
	MENUITEM    "&Previous\tF4",		IDM_SEARCHPREV
	}
    POPUP	"&Port"
	{
	MENUITEM    "&Current file interactively", IDM_PORTCURFILE
	MENUITEM    "Files in &background...",	   IDM_PORTBKGND
	}
}


/*  frame menu accelerators  */
IDA_PORTTOOL ACCELERATORS
BEGIN
    VK_INSERT,  IDM_EDITCOPY,   VIRTKEY, CONTROL
    VK_INSERT,  IDM_EDITPASTE,  VIRTKEY, SHIFT
    VK_DELETE,  IDM_EDITCUT,    VIRTKEY, SHIFT 
    VK_BACK,    IDM_EDITUNDO,   VIRTKEY, ALT
    VK_F3,		IDM_SEARCHNEXT, VIRTKEY
    VK_F4,		IDM_SEARCHPREV, VIRTKEY
END
	  
STRINGTABLE
    {
    IDS_UNTITLED	      "Untitled"
    IDS_OPENFAILED	      "Can't open file"
    IDS_READFAILED	      "Can't read file"
    IDS_NOSIZE		      "File of zero length"
    IDS_REALLOCFAILED         "Can't allocate Edit buffer"
    IDS_PRINTJOB	      "PortTool - "
    IDS_PRINTERROR	      "Cannot print %s!"
    IDS_APPNAME 	      "PortTool"
    IDS_EDITWNDFAILED         "Can't create edit window"
    IDS_GETHANDLEFAILED       "Edit window won't release memory handle"
    IDS_DATACHANGED	      "Buffer has been modified, save file first?"
    IDS_SAVEASTITLE	      "Save file as"
    IDS_DEFAULTFILEEXT        "C"
    IDS_WRITEOPENFAILED       "Can't open file for writing"
    IDS_WRITEFAILED	      "Can't write to file"
    IDS_FILEOPENTITLE         "Open source files"
    IDS_STRINGNOTFOUND        "String not found"
    IDS_SEARCHDLGFAILED       "Can't create search dialog"
    IDS_PTRCOMMDLGFAILED      "Can't create print dialog box, job aborted"
    IDS_PRINTABORTED          "Print aborted"
    IDS_STARTDOCFAILED        "Can't start print job, job aborted"
    IDS_SETABORTPROCFAILED    "Can't set abort proc, job aborted"
    IDS_CANCELDLGFAILED       "Can't create print cancel dialog, job aborted"
    IDS_PTRCONFIGFAILED       "Default printer undefined, service unavailable"
    IDS_WINDOWSAPPNAME        "WINDOWS"
    IDS_DEVICENAME	      "DEVICE"
    IDS_NOFILETOPORT          "File undefined, can't port empty buffer"
    IDS_PORTFILE	      "Porting - "
    IDS_SEARCHING	      "Searching..."
    IDS_FOUND		      "Found => "
    IDS_NOMOREPORTISSUES      "End of file reached, port complete"
    IDS_PORTINITFAILED        "Can't initialize port data"
    IDS_MEMORYFAILED          "Can't allocate memory necesary to continue"
    IDS_NOTYETIMPLEMENTED     "This feature is not yet available"
    IDS_INIFILE 	      "port.ini"
    IDS_WINHELP 	      "WinHelp"
    IDS_FONTFAILEDTOCREATE    "Can't create FIXED-PITCH font, using system font"
    IDS_NOT		      "NOT!"
    IDS_LOADPORTFAILED	      "Can't load port DLL, check for file on disk"
    IDS_PROCADDRESSFAILED     "Can't get address of CheckString function"
    IDS_PORTDLLFILE	      "port.dll"
    IDS_CHECKSTRING	      "CheckString"
    IDS_BKPORTNEWLINE	      "\r\n"
    IDS_BKPORTHEADER	      "/*    PortTool v2.2     "
    IDS_BKPORTTOKEN	      "/*      Found   : "
    IDS_BKPORTISSUE	      "/*      Issue   : "
    IDS_BKPORTSUGGEST	      "/*      Suggest : "
    IDS_BKPORTHELP	      "/*      Help available, search for "
    IDS_BKPORTHELPFILE	      " in WinHelp file API32WH.HLP"
    IDS_BKPORTEOL	      "          */\r\n"
    IDS_BKPORTABORT	      "AbortBackgroundPortOfFile"
    IDS_BKPORTSTATUS	      "StatusOfBackgroundPort"
    IDS_BKPORTCANCEL	      "/*      Background porting operation aborted.  */\r\n"
    IDS_BKPORTSTARTFAILED     "Can't create background porting status dialog"
    IDS_CANTBUILDFILELIST     "Can't create list of files to port"
    IDS_PORTFILEBACKMSG       "Invalid INI file name"
    IDS_DEFAULTPORTEXT    "ini"
    IDS_PORTFILEOPENTITLE   "port.ini"
    }

#include "PortTool.dlg"
