/*
 *
 *  FILE  : multipal.rc
 *
 *  DESCRIPTION : Resource script file for multipal.
 *
 *  Copyright 1991 Microsoft Corporation. All rights reserved.
 */

#include "multipal.h"

IDBLANDFRAME  ICON  mdiframe.ico   /* main icon              */
IDBLANDCHILD  ICON  mdichild.ico   /* icon for child windows */

/*  frame window menu */

IDBLANDMENU  MENU  LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    POPUP   "&File"
    BEGIN
      MENUITEM    "&Open...",  IDM_OPEN
      MENUITEM    SEPARATOR
      MENUITEM    "E&xit",     IDM_FILEEXIT
    END
    POPUP   "&Window"
    BEGIN
      MENUITEM    "&Tile",         IDM_WINDOWTILE
      MENUITEM    "&Cascade",      IDM_WINDOWCASCADE
      MENUITEM    "Arrange &Icons",IDM_WINDOWICONS
    END
END

