#include "debug.h"

IDR_DEBUGICON ICON LOADONCALL DISCARDABLE   "debug.ico"
IDR_MAINICON ICON LOADONCALL DISCARDABLE    "main.ico"

IDR_DEBUGMENU MENU LOADONCALL DISCARDABLE
{
    POPUP   "&Module"
	{
	MENUITEM    "&Load",			IDM_PROCESSLOAD
	MENUITEM    "&Close",			IDM_PROCESSCLOSE
	MENUITEM    SEPARATOR
	MENUITEM    "Sta&rt",			IDM_PROCESSSTART
	MENUITEM    "S&top",			IDM_PROCESSSTOP
	MENUITEM    SEPARATOR
	MENUITEM    "Modify priorities...",	IDM_PROCESSPRIORITIES
	MENUITEM    SEPARATOR
	MENUITEM    "E&xit",			IDM_PROCESSEXIT
	}

    POPUP    "&Edit"
	{
	MENUITEM    "Cu&t",			IDM_EDITCUT
	MENUITEM    "&Copy",			IDM_EDITCOPY
	MENUITEM    SEPARATOR
	MENUITEM    "&Paste",			IDM_EDITPASTE
	MENUITEM    "C&lear",			IDM_EDITCLEAR
	MENUITEM    SEPARATOR
	MENUITEM    "Save &as...",		IDM_EDITSAVEAS
	}

    POPUP    "&View"
	{
	MENUITEM    "&Thread",			IDM_VIEWTHREAD
	MENUITEM    "&Process", 		IDM_VIEWPROCESS
	}
    POPUP    "&Window"
	{
	MENUITEM    "&Cascade"			IDM_WINDOWCASCADE
	MENUITEM    "&Tile"			IDM_WINDOWTILE
	MENUITEM    "&Arrange Icons"		IDM_WINDOWARRANGE
	}
    POPUP    "&Help"
	{
	MENUITEM    "&Contents" 		 IDM_HELPCONTENTS
	MENUITEM    "&Search for..."		 IDM_HELPSEARCH
	MENUITEM    "&Help on help"		 IDM_HELPONHELP
	MENUITEM    SEPARATOR
	MENUITEM    "&About Debug"		 IDM_HELPABOUT
	}
}


STRINGTABLE
    {
    IDS_FRAMECLASS			 "DebugFrame"
    IDS_DEBUGCLASS			 "DebugWindow"
    IDS_DEBUGDLGTITLE			 "Thread Schedule -"
    IDS_MDICLASS			 "mdiclient"
    IDS_CAPTION 			 "AppViewer"
    IDS_EXEFILEEXT			 "EXE"
    IDS_FILEOPENTITLE			 "Load executable file"
    IDS_LOGFILEEXT			 "LOG"
    IDS_SAVEASTITLE			 "Save debug log file"
    IDS_EXITYESNO			 "Active debug process(es), exit anyway?"
    IDS_ERRORCAPTION			 "AppViewer - Error"
    IDS_CANTDBGFILE			 "Can't debug file "
    IDS_UNAVAILABLE			 "Command is not available."
    IDS_HEAPCREATEFAILED		 "Can't create debug heap, aborting command."
    IDS_DBGEVNTCLOSEACK 		 "DBGEVNTCLOSEACK"
    IDS_DBGEVNTACTIVE			 "DBGEVNTACTIVE"
    IDS_DBGEVNTCLOSE			 "DBGEVNTCLOSE"
    IDS_DBGEVNTSUSPEND			 "DBGEVNTSUSPEND"
    IDS_DBGEVNTRESUME			 "DBGEVNTRESUME"
    IDS_DBGEVNTSETTHREAD		 "DBGEVNTSETTHREAD"
    IDS_DBGEVNTINITACK			 "DBGEVNTINITACK"
    IDS_DBGEVNTSTOP			 "DBGEVNTSTOP"
    IDS_DBGEVNTSTART			 "DBGEVNTSTART"
    IDS_DBGEVNTSETPROCESS		 "DBGEVNTSETPROCESS"
    IDS_SAVEFILE			 "Process ended, save file before closing window?"
    0xC0000005L 			 "ACCESS_VIOLATION \texception raised\r\n"
    0x80000003L 			 "BREAKPOINT \t\texception raised\r\n"
    0x80000002L 			 "DATATYPE_MISALIGNMENT \texception raised\r\n"
    0x80000004L 			 "SINGLE_STEP \t\texception raised\r\n"
    0xC000008CL 			 "ARRAY_BOUNDS_EXCEEDED \texception raised\r\n"
    0xC000008DL 			 "FLT_DENORMAL_OPERAND \texception raised\r\n"
    0xC000008EL 			 "FLT_DIVIDE_BY_ZERO \texception raised\r\n"
    0xC000008FL 			 "FLT_INEXACT_RESULT \texception raised\r\n"
    0xC0000090L 			 "FLT_INVALID_OPERATION \texception raised\r\n"
    0xC0000091L 			 "FLT_OVERFLOW \t\texception raised\r\n"
    0xC0000092L 			 "FLT_STACK_CHECK \texception raised\r\n"
    0xC0000093L 			 "FLT_UNDERFLOW \t\texception raised\r\n"
    0xC0000094L 			 "INT_DIVIDE_BY_ZERO \texception raised\r\n"
    0xC0000095L 			 "INT_OVERFLOW \t\texception raised\r\n"
    0xC0000096L 			 "PRIV_INSTRUCTION \texception raised\r\n"
    IDS_UNKNOWNDEBUGEVENT		 "Unknown debug event occurred\r\n"
    IDS_PROCESSENDED			 "    **** Process ended ****\r\n"
    CREATE_THREAD_DEBUG_EVENT + RCBUG	 "CREATE_THREAD \t\tdebug event\r\n"
    CREATE_THREAD_DEBUG_EVENT + RCBUG + IDS_SIBLING
					 "CREATE_THREAD \t\tdebug event in sibling process\r\n"
    CREATE_PROCESS_DEBUG_EVENT + RCBUG	 "CREATE_PROCESS \tdebug event\r\n"
    CREATE_PROCESS_DEBUG_EVENT + RCBUG + IDS_SIBLING
					 "CREATE_PROCESS \tdebug event in sibling process\r\n"
    EXIT_THREAD_DEBUG_EVENT + RCBUG	 "EXIT_THREAD \t\tdebug event\r\n"
    EXIT_THREAD_DEBUG_EVENT + RCBUG + IDS_SIBLING
					 "EXIT_THREAD \t\tdebug event in sibling process\r\n"
    EXIT_PROCESS_DEBUG_EVENT + RCBUG	 "EXIT_PROCESS \t\tdebug event\r\n"
    EXIT_PROCESS_DEBUG_EVENT + RCBUG + IDS_SIBLING
					 "EXIT_PROCESS \t\tdebug event in sibling process\r\n"
    LOAD_DLL_DEBUG_EVENT + RCBUG	 "LOAD_DLL \t\tdebug event\r\n"
    LOAD_DLL_DEBUG_EVENT + RCBUG + IDS_SIBLING
					 "LOAD_DLL \t\tdebug event in sibling process\r\n"
    UNLOAD_DLL_DEBUG_EVENT + RCBUG	 "UNLOAD_DLL \t\tdebug event\r\n"
    UNLOAD_DLL_DEBUG_EVENT + RCBUG + IDS_SIBLING
					 "UNLOAD_DLL \t\tdebug event in sibling process\r\n"
    OUTPUT_DEBUG_STRING_EVENT + RCBUG	 "OUTPUT_DEBUG_STRING \tdebug event\r\n"
    OUTPUT_DEBUG_STRING_EVENT + RCBUG + IDS_SIBLING
					 "OUTPUT_DEBUG_STRING \tdebug event in sibling process\r\n"
    RIP_EVENT + RCBUG			 "RIP_EVENT \t\toccurred\r\n"
    RIP_EVENT + RCBUG + IDS_SIBLING
					 "RIP_EVENT \t\toccurred in sibling process\r\n"
    RIP_EVENT_LEVEL_1			 "Level 1 rip event reported\r\n"
    RIP_EVENT_LEVEL_2			 "Level 2 rip event reported\r\n"
    RIP_EVENT_LEVEL_3			 "Level 3 rip event reported\r\n"
    }


#include "debug.dlg"
