
//-----------------------------------------------------------------------------
// This is a part of the Microsoft Source Code Samples.
// Copyright (C) 1993 Microsoft Corporation.
// All rights reserved.
//
// This source code is only intended as a supplement to
// Microsoft Development Tools and/or WinHelp documentation.
// See these sources for detailed information regarding the
// Microsoft samples programs.
//-----------------------------------------------------------------------------

#include "windows.h"
#include "frogfly.h"

frogfly ICON frogfly.ICO
FLY BITMAP fly.bmp
frog BITMAP frog.bmp
burger CURSOR burger.cur

frogfly MENU
BEGIN

        POPUP        "&Simulation"
        {
                MENUITEM "St&art Simulation",             IDM_STARTSIM
		MENUITEM "St&op Simulation",		  IDM_STOPSIM
		MENUITEM "A&dd a fly",			  IDM_ADDFLY
	}
END





; Bring in the version stamping information:
RCINCLUDE frogfly.RCV
