#include    "windows.h"
#include    "resource.h"

IDR_FRAMEICON   icon    zusammen.ico

IDR_FRAMEMENU   menu
begin
	 popup   "&File"
	 begin
		menuitem "E&xit",    CMD_FILEEXIT
	 end

	 menuitem "Window&1!",   CMD_PICKWINDOW1
	 menuitem "Window&2!",   CMD_PICKWINDOW2
end

STRINGTABLE
begin
	IDS_CAPTION, "Caption"
	IDS_FILENAME, "Filename"
	IDS_CLASSNAME,	"Classname"
	IDS_EMPTY,		"-empty-"
end

