// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXISAPI_RC__
#define __AFXISAPI_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 不能改变标准的MFC资源! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// ISAPI HTML Text for HTTP error conditions

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_HTTP_TITLE          "<HEAD><TITLE>HTTP 错误 %d</TITLE></HEAD>"
	AFX_IDS_HTTP_NO_TEXT        "<BODY><H1>HTTP 错误 %d: 无可用消息</H1></BODY>\r\n"
	AFX_IDS_HTTP_BAD_REQUEST    "<BODY><H1>无效请求</H1><P>客户端发出一个服务器无法处理的请求.<br>请求: %s\r\n"
	AFX_IDS_HTTP_AUTH_REQUIRED "<BODY><H1>需要鉴定</H1><P>浏览器无鉴定功能或鉴定失败.</BODY>\r\n"
	AFX_IDS_HTTP_FORBIDDEN  "<BODY><H1>禁止</H1><P>客户没有权限从服务器获取该URL.</BODY>\r\n"
	AFX_IDS_HTTP_NOT_FOUND  "<BODY><H1>没有发现</H1><P>在该服务器上没有发现所请求的URL.</BODY>\r\n"
	AFX_IDS_HTTP_SERVER_ERROR   "<BODY><H1>服务器错误</H1>服务器遇到内部错误或错误配置无法完成该请求.</BODY>\r\n"
	AFX_IDS_HTTP_NOT_IMPLEMENTED "<BODY><H1>没有实现</H1>服务器无法执行该方法 <b>%s</b> 此时.</BODY>\r\n"
END


#endif //!_AFXDLL
#endif //!__AFXISAPI_RC__
