#include "exeview.h"

IDR_MAINICON	ICON LOADONCALL DISCARDABLE    "exeview.ico"

IDR_EXEVIEWMENU MENU LOADONCALL DISCARDABLE
{
    POPUP    "&File"
	{
	MENUITEM    "&Open file",	      IDM_OPEN
	MENUITEM    "&Close file",	      IDM_CLOSE
	MENUITEM    SEPARATOR
	MENUITEM    "E&xit",		     IDM_EXIT
	}
}


STRINGTABLE
    {
    IDS_EXEVIEWCLASS			 "FileViewer"
    IDS_MEMVIEWCLASS			 "MemoryViewClass"
    IDS_MEMVIEWTITLE			 "View Memory -"
    IDS_CAPTION 			 "File Viewer"
    IDS_EXEFILEEXT			 "*"
    IDS_FILEOPENTITLE			 "Open File"
    IDS_ERROR				 "Error"
    IDS_CANTOPENFILE			 "Cannot open file - "
    IDS_CANTMAPVIEW			 "Cannot map view of file - "
    IDS_CANTCREATEMAPPING		 "Cannot create file mapping for - "
    IDS_NTFILESIGNATURE 		 "NT Image - "
    IDS_OS2FILESIGNATURE		 "Windows [OS/2] Image - "
    IDS_OS2FILESIGNATURELE		 "OS/2 LE Image - "
    IDS_DOSFILESIGNATURE		 "DOS Image - "
    IDS_UNKNOWNFILESIGNATURE		 "Unknown Image - "

    }
