#include <windows.h>
#include <afxres.h>
#include "resource.h"

AFX_IDI_STD_FRAME   ICON    newopr.ico

MainMenu MENU
{
	MENUITEM		 "&DoAlloc!",	IDM_ALLOC
	POPUP        "&Help"
	{
		MENUITEM "&About NewOpr...\tF1", IDM_ABOUT
	}
}

MainAccelTable ACCELERATORS
{
	VK_F1,      IDM_ABOUT,  VIRTKEY
}

rcinclude newopr.dlg

