#include <windows.h>        // standard windows include
#include "sizebox.h"        

SIZEBOX_ICON ICON sizebox.ico

SizeboxMenu MENU
BEGIN
    POPUP        "&File"
    BEGIN
        MENUITEM "E&xit", IDM_EXIT
    END
    POPUP        "&Help"
    BEGIN
        MENUITEM "&About...", IDM_ABOUT
    END
END

AboutBox DIALOG 160, 78, 144, 77
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About Sizebox Sample"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "OK", IDOK, 54, 51, 40, 14
    LTEXT           "Sizebox Sample version 1.0", -1, 28, 17, 92, 8
    LTEXT           "written by Nancy Cluts", -1, 36, 27, 76, 8, NOT 
                    WS_GROUP
    LTEXT           "Microsoft Developer Network", -1, 25, 37, 99, 8, NOT 
                    WS_GROUP
END



