#include "pefile.h"


STRINGTABLE
    {
    IDS_ERRBADFILENAME	   "Error in filename"
    IDR_CURSOR		   "CURSOR"
    IDR_BITMAP		   "BITMAP"
    IDR_ICON		   "ICON"
    IDR_MENU		   "MENU"
    IDR_DIALOG		   "DIALOG"
    IDR_STRING		   "STRING"
    IDR_FONTDIR 	   "FONTDIR"
    IDR_FONT		   "FONT"
    IDR_ACCELERATOR	   "ACCELERATOR"
    IDR_RCDATA		   "RCDATA"
    IDR_MESSAGETABLE	   "MESSAGETABLE"
    }
