//Microsoft App Studio generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////
//
// From TEXTINCLUDE 2
//
#include "afxres.h"

////////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED

////////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE
BEGIN
	"resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
	"#include ""afxres.h""\r\n"
	"\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
	"#include ""cback.rc2""  // non-App Studio edited resources\r\n"
	"#if 0\r\n"
	"#include "".\\tlb16\\cback.tlb""  // 16-bit: force dependency on .TLB file\r\n"
	"#endif\r\n"
	"\0"
END

/////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED


////////////////////////////////////////////////////////////////////////////////

IDI_ABOUTDLL    ICON    DISCARDABLE     cback.ico

IDB_CALLBACK   BITMAP DISCARDABLE  callbctl.bmp
IDD_ABOUTBOX_CALLBACK DIALOG DISCARDABLE  34, 22, 260, 55
CAPTION "About MSJ Callback Control"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
	ICON            IDI_ABOUTDLL,IDC_STATIC,10,10,20,20
	LTEXT           "MSJ Callback Control, Version 1.0",IDC_STATIC,40,10,170,8
	LTEXT           "Copyright \251 1995, Microsoft Systems Journal",IDC_STATIC,40,25,170,8
	DEFPUSHBUTTON   "OK",IDOK,220,10,32,14,WS_GROUP
END

IDD_PROPPAGE_CALLBACK DIALOG DISCARDABLE  0, 0, 250, 62
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
END


//////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
	IDS_CALLBACK               "MSJ Callback Control"
	IDS_CALLBACK_PPG           "Callback Property Page"
	IDS_CALLBACK_PPG_CAPTION   "General"

END

#ifndef APSTUDIO_INVOKED
////////////////////////////////////////////////////////////////////////////////
//
// From TEXTINCLUDE 3
//

#include "cback.rc2"  // non-App Studio edited resources
#if 0
#include ".\tlb16\cback.tlb"  // 16-bit: force dependency on .TLB file
#endif

////////////////////////////////////////////////////////////////////////////////

#endif    // not APSTUDIO_INVOKED
