// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXISAPI_RC__
#define __AFXISAPI_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 표준 MFC 리소스를 바꿀 수 없습니다! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// ISAPI HTML Text for HTTP error conditions

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_HTTP_TITLE          "<HEAD><TITLE>HTTP 오류 %d</TITLE></HEAD>"
	AFX_IDS_HTTP_NO_TEXT        "<BODY><H1>HTTP 오류 %d: 사용할 수 있는 메시지가 없습니다</H1></BODY>\r\n"
	AFX_IDS_HTTP_BAD_REQUEST    "<BODY><H1>잘못된 요청</H1><P>이 서버가 이해할 수 없는 요청을 클라이언트가 보내왔습니다.<br>Request: %s\r\n"
	AFX_IDS_HTTP_AUTH_REQUIRED "<BODY><H1>인증 요구</H1><P>인증할 수 없는 브라우저이거나 인증에 실패하였습니다.</BODY>\r\n"
	AFX_IDS_HTTP_FORBIDDEN  "<BODY><H1>금지</H1><P>Your client does not have permission to get this URL from the server.</BODY>\r\n"
	AFX_IDS_HTTP_NOT_FOUND  "<BODY><H1>찾을 수 없습니다</H1><P>요청한 URL을 이 서버에서 찾을 수 없습니다.</BODY>\r\n"
	AFX_IDS_HTTP_SERVER_ERROR   "<BODY><H1>서버 오류</H1>서버가 내부 오류 혹은 잘못된 설정으로 인하여 요청을 완료하지 못했습니다.</BODY>\r\n"
	AFX_IDS_HTTP_NOT_IMPLEMENTED "<BODY><H1>수행할 수 없습니다</H1>지금은 서버가 <b>%s</b> 메서드를 수행할 수 없습니다.</BODY>\r\n"
END


#endif //!_AFXDLL
#endif //!__AFXISAPI_RC__
