# KallistiOS environment variable settings
# This is a sample script; the 'configure' program can produce a full
#   script for you, but that's assuming that 'cdialog' works on your
#   system. If not, you may want to edit this script (for Bash) or
#   environ.tcsh (for TCSH) and use that.
# This script is for the GBA configuation only!
# $Id: environ-gba.sh.sample,v 1.3 2002/12/12 21:49:14 gilm Exp $

# Build architecture
export KOS_ARCH="gba"

# KOS base paths
export KOS_BASE="/home/bard/prj/kos"
export KOS_INCS="${KOS_BASE}/include"

# Make utility
export KOS_MAKE="make"

# Load utility
export KOS_LOADER="vgba -sound 44100 -nocrc"

# Genromfs utility
export KOS_GENROMFS="${KOS_BASE}/utils/genromfs/genromfs"

# GCC paths for main target processor
# This is currently configured to produce only Thumb code
export KOS_CC_BASE="/usr/local/gba/arm-elf"
export KOS_CC="${KOS_CC_BASE}/bin/arm-elf-gcc"
export KOS_CCPLUS="${KOS_CC_BASE}/bin/arm-elf-g++"
export KOS_AS="${KOS_CC_BASE}/bin/arm-elf-as"
export KOS_AR="${KOS_CC_BASE}/bin/arm-elf-ar"
export KOS_OBJCOPY="${KOS_CC_BASE}/bin/arm-elf-objcopy"
export KOS_LD="${KOS_CC_BASE}/bin/arm-elf-ld"
export KOS_CFLAGS="-Wall -g -mcpu=arm7tdmi -mthumb -ffreestanding -fomit-frame-pointer -fno-builtin -fno-strict-aliasing -O"
export KOS_CPPFLAGS="-fno-operator-names -fno-rtti"
export KOS_AFLAGS="-marm7tdmi"
export KOS_LDFLAGS="-nostartfiles -nostdlib -Wl,-Ttext=0x08000000,-Tdata=0x02000000,-T,$KOS_BASE/kernel/arch/gba/gba.ld.script"



