#include <windows.h>
#include "server.h"

//////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_Message        "Hello World"
END


