/////////////////////////////////////////////////////////////////////////////
// InvisibleInstance.RC
/////////////////////////////////////////////////////////////////////////////
// Copyright  1995  Microsoft Corporation.  All Rights Reserved.
//
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF 
// ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO 
// THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A 
// PARTICULAR PURPOSE.
/////////////////////////////////////////////////////////////////////////////
//
// contains the resources for our DLL, including the TypeLib, error strings,
// and versioning information.
//
#include "Resource.H"
#include "Windows.H"

#define IDC_STATIC -1

/////////////////////////////////////////////////////////////////////////////
//
// Our Type Library
//
1 TYPELIB InvsInst.TLB


/////////////////////////////////////////////////////////////////////////////
// EVERYTHING FROM HERE UNTIL THE VERSION RESOURCES IS LOCALIZABLE         //
/////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////
//
// String tables with Exception Information, etc.
//


/////////////////////////////////////////////////////////////////////////////
// Version Information
/////////////////////////////////////////////////////////////////////////////
//
#include "dwinvers.h"
#include <winver.h>

VS_VERSION_INFO VERSIONINFO

FILEVERSION	04,00,vusVersNumf2,vusVersNuml2 //<----- This is used by setup!
PRODUCTVERSION	04,00,vusVersNumf2,vusVersNuml2


FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
FILEFLAGS	VS_FF_DEBUG
#else
FILEFLAGS	0L
#endif

FILEOS		VOS_NT_WINDOWS32

FILETYPE	VFT_DLL
FILESUBTYPE	0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0" // Language and character set identifiers.
        {
            VALUE "CompanyName",     "My Company Name\0"
            VALUE "FileDescription", "InvisibleInstance"
            VALUE "FileVersion",     vszVersNumAll
            VALUE "InternalName",    "InvisibleInstance.DLL\0"
            VALUE "LegalCopyright",  vszCopyright
            VALUE "LegalTrademarks", "Put Legal TradeMarks here ...\0"
            VALUE "ProductName",     "InvisibleInstance Object Library\0"
            VALUE "ProductVersion",  vszVersNumAll
            VALUE "Comments",        vszMakeDate
            VALUE "OLESelfRegister", "\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation" ,0x409, 0x4b0
    }
}


