.mstheme
{
	top-bar-button: url(naglb.gif);
	version: 1.0;
	navbutton-background-color:  rgb(255,255,255);
}
.mstheme-topbar-font
{
	font-family: arial narrow;
	color: rgb(0,102,102);
}
body
{
	font-family: Trebuchet MS, Arial, Helvetica;
	background-image: url(nabkgnd.jpg); 
}
h1
{
	font-family: Trebuchet MS, Arial, Helvetica;
}
h2
{
	font-family: Trebuchet MS, Arial, Helvetica;
}
h3
{
	font-family: Trebuchet MS, Arial, Helvetica;
}
h4
{
	font-family: Trebuchet MS, Arial, Helvetica;
}
h5
{
	font-family: Trebuchet MS, Arial, Helvetica;
}
h6
{
	font-family: Trebuchet MS, Arial, Helvetica;
}
