#include <windows.h>
#include <ver.h>           
#include "ezprint.h"


// Version information

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,4
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3L
FILEFLAGS 0x2L
FILEOS 0x10001L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", "EZPRINT printing DLL\0"
            VALUE "FileVersion", "1.00.0\0"
            VALUE "InternalName", "EZPRINT\0"
            VALUE "LegalCopyright", "\0"
            VALUE "OriginalFilename", "EZPRINT.DLL\027\0"
            VALUE "ProductName", "EZPRINT\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252 
    END
END


// Dialog boxes

PRINTDLG DIALOG DISCARDABLE  93, 54, 160, 64
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Printing"
FONT 8, "Arial"
BEGIN
    DEFPUSHBUTTON   "Cancel",IDCANCEL,61,40,40,14
    CTEXT           "Press cancel button to cancel print job...",102,18,17,
                    129,16
END

// String Table

STRINGTABLE
BEGIN
   IDS_SAP_FAILED           "SetAbortProc failed"
   IDS_SD_FAILED            "StartDoc failed"
   IDS_PRTMGR_DOCNAME       "Sample Report"
   IDS_ERRORMSG             "Error"  
END  