#include "windows.h"
#include "global.h"

IDI_APP ICON		 Thread.ico

Menu    MENU
begin
	menuitem   "E&xit", 			   IDM_EXIT
	popup	"&States"
    begin
		menuitem	"&Peek Message Loop",				IDM_PEEKLOOP
		menuitem	"&Timer Messages",					IDM_TIMER
		menuitem	"&Hog the System",					IDM_HOG
		menuitem	"H&og with Sleep",					IDM_HOGSLEEP
		menuitem	"Ho&g with Thread",					IDM_HOGTHREAD
		menuitem	"Hog with Peek&Message",			IDM_HOGPEEK
		menuitem	SEPARATOR
		menuitem	"&Reset High Value",				IDM_RESET
    end

end

AccTable ACCELERATORS
begin
	"C", IDM_EXIT	  ,CONTROL, VIRTKEY
	"R", IDM_RESET	  ,CONTROL, VIRTKEY
	"P", IDM_PEEKLOOP  ,CONTROL, VIRTKEY
	"T", IDM_TIMER	  ,CONTROL, VIRTKEY
	"H", IDM_HOG	  ,CONTROL, VIRTKEY
	"O", IDM_HOGSLEEP  ,CONTROL, VIRTKEY
	"G", IDM_HOGTHREAD ,CONTROL, VIRTKEY
	"M", IDM_HOGPEEK   ,CONTROL, VIRTKEY
end
