.mstheme-bannertxt A:active
{
	color: rgb(255,255,153);
}
.mstheme-bannertxt A:link
{
	color: rgb(255,255,153);
}
.mstheme-bannertxt A:visited
{
	color: rgb(255,255,153);
}
.mstheme-bannertxt-g
{
	font-family: Haettenschweiler, Arial, Helvetica;
	font-size: 24pt;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
	background-image: url(trabannd.gif);
}
.mstheme-bannertxt-g A:active
{
	color: rgb(255,255,153);
}
.mstheme-bannertxt-g A:link
{
	color: rgb(255,255,153);
}
.mstheme-bannertxt-g A:visited
{
	color: rgb(255,255,153);
}
.mstheme-bannertxt-s
{
	font-family: Haettenschweiler, Arial, Helvetica;
	font-size: 24pt;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
}
.mstheme-bannertxt-s A:active
{
	color: rgb(255,255,153);
}
.mstheme-bannertxt-s A:link
{
	color: rgb(255,255,153);
}
.mstheme-bannertxt-s A:visited
{
	color: rgb(255,255,153);
}
.mstheme-horiz-navtxt A:active
{
	color: rgb(255,255,153);
}
.mstheme-horiz-navtxt A:link
{
	color: rgb(255,255,153);
}
.mstheme-horiz-navtxt A:visited
{
	color: rgb(255,255,153);
}
.mstheme-horiz-navtxt-g
{
	font-family: Impact, Arial, Helvetica;
	font-size: 14pt;
	color: rgb(102,0,0);
	text-align: center;
	vertical-align: middle;
	background-image: url(tranvhnd.gif);
}
.mstheme-horiz-navtxt-g A:active
{
	color: rgb(102,0,0);
}
.mstheme-horiz-navtxt-g A:link
{
	color: rgb(102,0,0);
}
.mstheme-horiz-navtxt-g A:visited
{
	color: rgb(102,0,0);
}
.mstheme-horiz-navtxt-gs
{
	font-family: Impact, Arial, Helvetica;
	font-size: 14pt;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
	background-image: url(tranvhsd.gif);
}
.mstheme-horiz-navtxt-gs A:active
{
	color: rgb(255,255,153);
}
.mstheme-horiz-navtxt-gs A:link
{
	color: rgb(255,255,153);
}
.mstheme-horiz-navtxt-gs A:visited
{
	color: rgb(255,255,153);
}
.mstheme-navtxthome A:active
{
	color: rgb(255,255,153);
}
.mstheme-navtxthome A:link
{
	color: rgb(255,255,153);
}
.mstheme-navtxthome A:visited
{
	color: rgb(255,255,153);
}
.mstheme-navtxthome-g
{
	font-family: Impact, Arial, Helvetica;
	font-size: 10pt;
	color: rgb(51,0,0);
	text-align: center;
	vertical-align: middle;
	background-image: url(trahomnd.gif);
}
.mstheme-navtxthome-g A:active
{
	color: rgb(51,0,0);
}
.mstheme-navtxthome-g A:link
{
	color: rgb(51,0,0);
}
.mstheme-navtxthome-g A:visited
{
	color: rgb(51,0,0);
}
.mstheme-navtxtnext A:active
{
	color: rgb(255,255,153);
}
.mstheme-navtxtnext A:link
{
	color: rgb(255,255,153);
}
.mstheme-navtxtnext A:visited
{
	color: rgb(255,255,153);
}
.mstheme-navtxtnext-g
{
	font-family: Impact, Arial, Helvetica;
	font-size: 10pt;
	color: rgb(51,0,0);
	text-align: center;
	vertical-align: middle;
	background-image: url(tranexnd.gif);
}
.mstheme-navtxtnext-g A:active
{
	color: rgb(51,0,0);
}
.mstheme-navtxtnext-g A:link
{
	color: rgb(51,0,0);
}
.mstheme-navtxtnext-g A:visited
{
	color: rgb(51,0,0);
}
.mstheme-navtxtprev A:active
{
	color: rgb(255,255,153);
}
.mstheme-navtxtprev A:link
{
	color: rgb(255,255,153);
}
.mstheme-navtxtprev A:visited
{
	color: rgb(255,255,153);
}
.mstheme-navtxtprev-g
{
	font-family: Impact, Arial, Helvetica;
	font-size: 10pt;
	color: rgb(51,0,0);
	text-align: center;
	vertical-align: middle;
	background-image: url(trabacnd.gif);
}
.mstheme-navtxtprev-g A:active
{
	color: rgb(51,0,0);
}
.mstheme-navtxtprev-g A:link
{
	color: rgb(51,0,0);
}
.mstheme-navtxtprev-g A:visited
{
	color: rgb(51,0,0);
}
.mstheme-navtxtup A:active
{
	color: rgb(255,255,153);
}
.mstheme-navtxtup A:link 
.mstheme-navtxtup A:visited
{
	color: rgb(255,255,153);
}
.mstheme-navtxtup-g
{
	font-family: Impact, Arial, Helvetica;
	font-size: 10pt;
	color: rgb(51,0,0);
	text-align: center;
	vertical-align: middle;
	background-image: url(traupbnd.gif);
}
.mstheme-navtxtup-g A:active
{
	color: rgb(51,0,0);
}
.mstheme-navtxtup-g A:link
{
	color: rgb(51,0,0);
}
.mstheme-navtxtup-g A:visited
{
	color: rgb(51,0,0);
}
.mstheme-topbar-font A:active
{
	color: rgb(204,204,102);
}
.mstheme-topbar-font A:link
{
	color: rgb(204,204,102);
}
.mstheme-topbar-font A:visited
{
	color: rgb(204,204,102);
}
.mstheme-topbar-font-g
{
	font-family: Impact, Arial, Helvetica;
	font-size: 10pt;
	color: rgb(204,204,102);
	text-align: center;
	vertical-align: middle;
	background-image: url(tranavgl.gif);
}
.mstheme-topbar-font-g A:active
{
	color: rgb(204,204,102);
}
.mstheme-topbar-font-g A:link
{
	color: rgb(204,204,102);
}
.mstheme-topbar-font-g A:visited
{
	color: rgb(204,204,102);
}
.mstheme-vert-navtxt A:active
{
	color: rgb(255,255,153);
}
.mstheme-vert-navtxt A:link
{
	color: rgb(255,255,153);
}
.mstheme-vert-navtxt A:visited
{
	color: rgb(255,255,153);
}
.mstheme-vert-navtxt-g
{
	font-family: Impact, Arial, Helvetica;
	font-size: 14pt;
	color: rgb(0,51,0);
	text-align: center;
	vertical-align: middle;
	background-image: url(tranvvnd.gif);
}
.mstheme-vert-navtxt-g A:active
{
	color: rgb(0,51,0);
}
.mstheme-vert-navtxt-g A:link
{
	color: rgb(0,51,0);
}
.mstheme-vert-navtxt-g A:visited
{
	color: rgb(0,51,0);
}
.mstheme-vert-navtxt-gs
{
	font-family: Impact, Arial, Helvetica;
	font-size: 14pt;
	color: rgb(255,255,153);
	text-align: center;
	vertical-align: middle;
	background-image: url(tranvvsd.gif);
}
.mstheme-vert-navtxt-gs A:active
{
	color: rgb(255,255,153);
}
.mstheme-vert-navtxt-gs A:link
{
	color: rgb(255,255,153);
}
.mstheme-vert-navtxt-gs A:visited
{
	color: rgb(255,255,153);
}
UL
{
	list-style-image: url(trabul1d.gif);
	list-style-type: circle;
}
UL UL
{
	list-style-image: url(trabul2d.gif);
	list-style-type: circle;
}
UL UL UL
{
	list-style-image: url(trabul3d.gif);
	list-style-type: circle;
}
