# KallistiOS environment variable settings
# This is a sample script; the 'configure' program can produce a full
#   script for you, but that's assuming that 'cdialog' works on your
#   system. If not, you may want to edit this script (for TCSH) or
#   environ.sh (for Bash) and use that.
# This script is for the GBA configuation only!
# $Id: environ-gba.tcsh.sample,v 1.2 2002/12/12 21:49:15 gilm Exp $

# Build architecture
setenv KOS_ARCH "gba"

# KOS base paths
setenv KOS_BASE "/home/bard/prj/kos"
setenv KOS_INCS "${KOS_BASE}/include"

# Make utility
setenv KOS_MAKE "make"

# Load utility
setenv KOS_LOADER "vgba -sound 44100 -nocrc"

# Genromfs utility
setenv KOS_GENROMFS "${KOS_BASE}/utils/genromfs/genromfs"

# GCC paths for main target processor
# This is currently configured to produce only Thumb code
setenv KOS_CC_BASE "/usr/local/gba/arm-elf"
setenv KOS_CC "/usr/local/gba/arm-elf/bin/arm-elf-gcc"
setenv KOS_CCPLUS "/usr/local/gba/arm-elf/bin/arm-elf-g++"
setenv KOS_AS "/usr/local/gba/arm-elf/bin/arm-elf-as"
setenv KOS_AR "/usr/local/gba/arm-elf/bin/arm-elf-ar"
setenv KOS_OBJCOPY "/usr/local/gba/arm-elf/bin/arm-elf-objcopy"
setenv KOS_LD "/usr/local/gba/arm-elf/bin/arm-elf-ld"
setenv KOS_CFLAGS "-Wall -g -mcpu=arm7tdmi -mthumb -ffreestanding -fomit-frame-pointer -fno-builtin -fno-strict-aliasing -O"
setenv KOS_CPPFLAGS "-fno-operator-names -fno-rtti"
setenv KOS_AFLAGS "-marm7tdmi"
setenv KOS_LDFLAGS "-nostartfiles -nostdlib -Wl,-Ttext=0x08000000,-Tdata=0x02000000,-T,$KOS_BASE/kernel/arch/gba/gba.ld.script"



