# KallistiOS environment variable settings
# This is a sample script; the 'configure' program can produce a full
#   script for you, but that's assuming that 'cdialog' works on your
#   system. If not, you may want to edit this script (for Bash) or 
#   environ.tcsh (for TCSH) and use that.
# This script is for the PS2[RTE] configuation only!
# $Id: environ-ps2rte.sh.sample,v 1.2 2002/10/27 23:46:02 bardtx Exp $

# Build architecture
export KOS_ARCH="ps2"
export KOS_SUBARCH="rte"

# KOS base paths
export KOS_BASE="/usr/local/home/bard/prj/kos"
export KOS_INCS="${KOS_BASE}/include"

# Make utility
export KOS_MAKE="make"

# Load utility
export KOS_LOADER="echo Ready to load."

# Genromfs utility
export KOS_GENROMFS="${KOS_BASE}/utils/genromfs/genromfs"

# Emotion Engine GCC paths
export KOS_CC_BASE="${EE}"
export KOS_CC_PREFIX="ee"
export KOS_CC="${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-gcc"
export KOS_CCPLUS="${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-g++"
export KOS_AS="${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-gcc"
export KOS_AR="${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-ar"
export KOS_OBJCOPY="${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-objcopy"
export KOS_LD="${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-ld"
export KOS_STRIP="${KOS_CC_BASE}/bin/${KOS_CC_PREFIX}-strip"
# export KOS_CFLAGS="-D_arch_sub_${KOS_SUBARCH} -Wall -g -O1 -fno-builtin -fno-strict-aliasing"
export KOS_CFLAGS="-D_arch_sub_${KOS_SUBARCH} -Wall -g"
export KOS_CPPFLAGS="-fno-operator-names -fno-rtti -fno-exceptions"
export KOS_AFLAGS="-Wa,-EL -Wa,-mips3 -Wa,-mcpu=r5900 -I${KOS_BASE}/kernel/arch/${KOS_ARCH}/include -c"
export KOS_LDFLAGS="-nostartfiles -Wl,-T${KOS_BASE}/kernel/arch/${KOS_ARCH}/link-${KOS_SUBARCH}.ld"

