#include "windows.h"
#include "stocksrv.h"

Icon    ICON         stocksrv.ico

Menu    MENU
begin
    popup   "&File"
    begin
        menuitem    "E&xit",        IDM_EXIT
    end
    popup   "&Edit"
    begin
        menuitem    "&Copy",        IDM_COPY
    end
    popup   "&Control"
    begin
        menuitem    "&Pause",       IDM_PAUSE
    end
    popup   "&Items"
    begin
        menuitem    "&Bread",       IDM_BREAD
        menuitem    "M&ilk",        IDM_MILK
        menuitem    "&MSFT",        IDM_MSFT
    end
end
