#include <windows.h>
#include "aligned.h"


EditAlignIcon    ICON    aligned.ico


EditAlignMenu   MENU
    BEGIN
     POPUP "Control &1"
        BEGIN
         MENUITEM "&Left",      IDM_ALIGNMENTLEFT1
         MENUITEM "&Center",    IDM_ALIGNMENTCENTER1
         MENUITEM "&Right",     IDM_ALIGNMENTRIGHT1
         MENUITEM SEPARATOR
         MENUITEM "&Exit",      IDM_EXIT
        END

     POPUP "Control &2"
        BEGIN
         MENUITEM "&Left",      IDM_ALIGNMENTLEFT2
         MENUITEM "&Center",    IDM_ALIGNMENTCENTER2
         MENUITEM "&Right",     IDM_ALIGNMENTRIGHT2
        END
    END
