1100 ICON "rsrc/sb.ico"

1 MANIFEST "rsrc/manifest.xml"
100 BITMAP "rsrc/logo.bmp"

// others Windows
1101 ICON "rsrc/icons/refresh.ico"
1102 ICON "rsrc/icons/inducer.ico"
1103 ICON "rsrc/icons/dj.ico"
1104 ICON "rsrc/icons/nero.ico"
1106 ICON "rsrc/icons/cd.ico"
1107 ICON "rsrc/icons/recycle.ico"
1108 ICON "rsrc/icons/back.ico"
1109 ICON "rsrc/icons/config.ico"

// XP bitmaps
1101  BITMAP "rsrc/bitmaps/refresh.bmp"
21101 BITMAP "rsrc/bitmaps/refreshm.bmp"
1102  BITMAP "rsrc/bitmaps/inducer.bmp"
21102 BITMAP "rsrc/bitmaps/inducerm.bmp"
1103  BITMAP "rsrc/bitmaps/dj.bmp"
21103 BITMAP "rsrc/bitmaps/djm.bmp"
1104  BITMAP "rsrc/bitmaps/nero.bmp"
21104 BITMAP "rsrc/bitmaps/nerom.bmp"
1106  BITMAP "rsrc/bitmaps/cd.bmp"
21106 BITMAP "rsrc/bitmaps/cdm.bmp"
1107  BITMAP "rsrc/bitmaps/recycle.bmp"
21107 BITMAP "rsrc/bitmaps/recyclem.bmp"
1108  BITMAP "rsrc/bitmaps/back.bmp"
21108 BITMAP "rsrc/bitmaps/backm.bmp"
1109  BITMAP "rsrc/bitmaps/config.bmp"
21109 BITMAP "rsrc/bitmaps/configm.bmp"

1 VERSIONINFO
FILEVERSION 4,3,0,0
PRODUCTVERSION 4,3,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "000004e4"
	{
		VALUE "Comments", "CDI4DC version by [big_fury]SiZiOUS"
		VALUE "CompanyName", "burnerO"
		VALUE "FileDescription", "Selfboot Inducer"
		VALUE "FileVersion", "4.3.0.0"
		VALUE "InternalName", "sbinducr.exe"
		VALUE "LegalCopyright", "© Copyright 2002, 2006"
		VALUE "OriginalFilename", "sbinducr.exe"
		VALUE "ProductName", "Selfboot Inducer"
		VALUE "ProductVersion", "4.3.0.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000 0x04E4
}
}

#include <windows.h>

// Configuration dialog
400 DIALOG 157, 76, 244, 79
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Selfboot Inducer Configuration"
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
FONT 8, "Tahoma"
BEGIN
   DEFPUSHBUTTON "&OK", 401, 115, 61, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   PUSHBUTTON "&Cancel", 402, 178, 61, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   GROUPBOX "ISO options :", 403, 5, 6, 72, 48, WS_CHILD | WS_VISIBLE
   AUTOCHECKBOX "Joliet", 404, 10, 16, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
   AUTOCHECKBOX "Rock Ridge", 405, 10, 30, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   AUTOCHECKBOX "Insert logo in IP.BIN", 406, 82, 8, 83, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   GROUPBOX "Change Temp directory :", 407, 81, 24, 160, 30, WS_CHILD | WS_VISIBLE 
   EDITTEXT "", 408, 85, 35, 130, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_MULTILINE
   PUSHBUTTON "...", 409, 218, 35, 19, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   LTEXT "", 410, 5, 57, 236, 1, SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP 
END

// About dialog
500 DIALOG 157, 76, 261, 155
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About Selfboot Inducer - by burnerO"
LANGUAGE LANG_FRENCH, 0x0
FONT 8, "TAHOMA"
BEGIN
   DEFPUSHBUTTON "&Okay, eh !", 501, 191, 138, 63, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP 
   LTEXT "", -1, 5, 134, 250, 1, SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP
   ICON 100, -1, 5, 5, 250, 64, SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP //RESOURCE HACKER NECESSAIRE !!!
   LTEXT "Selfboot Inducer v4.3", 0, 6, 73, 250, 11, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP
   LTEXT "", 0, 6, 87, 250, 43, SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP
   LTEXT "Selfboot Inducer is a cool application created by burnerO.", 0, 10, 90, 241, 10, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP 
   PUSHBUTTON "&SiZiOUS ...", 502, 6, 138, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
   LTEXT "This build was NOT released by burnerO, but by [big_fury]SiZiOUS.", 0, 9, 100, 243, 12, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP 
   LTEXT "Enjoy this little proggy !", 0, 9, 115, 242, 12, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP 
END
