#include "windows.h"
#include "global.h"

IDI_APP ICON         app.ico

Menu    MENU
begin
    popup   "&File"
    begin
        menuitem    "&New"                  IDM_NEW        
        menuitem    "&Open..."              IDM_OPEN       
        menuitem    "&Save"                 IDM_SAVE       
        menuitem    "Save &As..."           IDM_SAVEAS     
        menuitem    "&Print"                IDM_PRINT
        menuitem    "P&rint Setup..."       IDM_PRINTSETUP
        menuitem    SEPARATOR
        menuitem    "E&xit"                 IDM_EXIT
    end

    popup   "&Edit"
    begin
        menuitem    "Cu&t"                  IDM_CUT
        menuitem    "&Copy"                 IDM_COPY
        menuitem    "&Paste"                IDM_PASTE
        menuitem    "&Insert Object..."     IDM_INSERTOBJECT
        menuitem    "&Delete"               IDM_DELETE
    end

#ifdef DEBUG
    popup           "&Debug"
    begin
        menuitem    "0 (none)"              IDM_DEBUG0
        menuitem    "1 (errors only)"       IDM_DEBUG1
        menuitem    "2 (progress)"          IDM_DEBUG2
        menuitem    "3 (more detail)"       IDM_DEBUG3
        menuitem    "4 (data dumps)"        IDM_DEBUG4
        menuitem    SEPARATOR
        menuitem    "&Clear history"        IDM_DEBUGCLEAR
    end
#endif

    popup   "&Help"
    begin
        menuitem    "&Contents"             IDM_HELPCONTENTS
        menuitem    SEPARATOR
        menuitem    "&About..."             IDM_ABOUT
    end
end

AccTable ACCELERATORS
begin
    "^X",   IDM_EXIT
end

rcinclude dialogs.dlg
