//***********************************************************************
//
//  HexDump.rc
//
//***********************************************************************

#include <afxres.h>
#include "Resource.h"

IDR_MAINFRAME MENU
BEGIN
    POPUP "&File" {
        MENUITEM "&Open...\tCtrl+O",        ID_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Print...\tCtrl+P",       ID_FILE_PRINT
        MENUITEM "Print Pre&view",          ID_FILE_PRINT_PREVIEW
        MENUITEM "P&rint Setup...",         ID_FILE_PRINT_SETUP
        MENUITEM SEPARATOR
        MENUITEM "Recent File",             ID_FILE_MRU_FILE1
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                   ID_APP_EXIT
    }
END

IDR_MAINFRAME ACCELERATORS
BEGIN
    "O", ID_FILE_OPEN,  VIRTKEY, CONTROL
    "P", ID_FILE_PRINT, VIRTKEY, CONTROL
END

STRINGTABLE
BEGIN
    IDR_MAINFRAME "HexDump"
END
