#include "STYLES.h"

STYLES ICON  STYLES.ICO

STYLES MENU
  BEGIN
    MENUITEM "&Close", IDM_CLOSE
    MENUITEM "C&reate-O-Rama", IDM_CREATEORAMA
  END

#include "CREATE.DLG"


STRINGTABLE
BEGIN
  0,   "Karen"
  1,   "Sarah"
  2,   "Stanley"
  3,   "Marion"
  4,   "Marilyn"
  5,   "John"
  6,   "Heidi"
  7,   "Gretchen"
  8,   "Kelly"
  9,   "Jane"
 10,   "Sandra"
 11,   "Laura"
 12,   "William"
 13,   "Harry"
 14,   "Shaw"
 15,   "Heather"
 16,   "Hayden"
 17,   "Allen"
 18,   "Edward"
 19,   "Mary"
 20,   "Gordon"
END
