body { background: white; }

.title {
        font-size: 15pt;      
        font-family: "Verdana, Arial, Helvetica"; 
        font-weight: bold;     
        font-style: normal;
		color: "black";
       } 
.code  {
        font-size: 10pt;
        font-family: "Courier New"; 
        font-weight: light;     
        font-style: normal;
		color: "BA008F";
       }
.link  {
        font-size: 10pt;      
        font-family: "Verdana, Arial, Helvetica"; 
        font-weight: normal;     
        font-style: normal;
		color: "blue";
       }
.demo  {
        font-size: 8pt;      
        font-family: "Verdana, Arial, Helvetica"; 
        font-weight: normal;     
        font-style: normal;
		color: "blue";
       }
.demotitle{
        font-size: 8pt;      
        font-family: "Verdana, Arial, Helvetica"; 
        font-weight: bold;     
        font-style: normal;
		color: "red";
       }
.desc1 {
        font-size: 10pt;      
        font-family: "Verdana, Arial, Helvetica"; 
        font-weight: bold;     
        font-style: normal;
		color: "black";
        }          
.desc2 {
        font-size: 10pt;       
        font-family: "Verdana, Arial, Helvetica"; 
        font-weight: bold; 
        font-style: normal;
		color: "black";
        }
.flush {
        margin-left: -20p; 
		margin-right: -20p;
       }

.head1	{
        line-height: 40pt;
        margin-top: 10pt;
        margin-left: 70pt;        
		font-size: 50pt;
		font-style: italic;
		}

.head2	{        
        line-height: 40pt;
        margin-left: 150pt;        
		font: 40pt "arial";
		font-weight: bold;
		color: silver;
		}
.name	{
		font-size: 10pt;
		font-family: "Verdana, Arial, Helvetica"; 
		font-weight: normal;
		font-style: italic;
		color: blue;
		}