a:link
{
	color: rgb(255,204,0); 
}
a:visited
{
	color: rgb(102,153,0); 
} 
a:active 
{
	color: rgb(255,51,0);
}
body
{
	background-color: rgb(0,51,102);
	color: rgb(255,255,204);
}
table
{
	table-border-color-light: rgb(51,153,102);
	table-border-color-dark: rgb(0,0,51); 
}
h1
{
	color: rgb(204,204,102);
}
h2
{
	color: rgb(0,153,204); 
}
h3
{
	color: rgb(153,51,51); 
}
h4
{
	color: rgb(204,153,51);
}
h5
{
	color: rgb(102,204,204);
}
h6
{
	color: rgb(102,204,204);
}
