a:link
{
	color: rgb(255,204,0); 
}
a:visited
{
	color: rgb(102,153,0); 
} 
a:active 
{
	color: rgb(255,204,0);
}
body
{
	background-color: rgb(0,51,153);
	color: rgb(255,255,204);
}
table
{
	table-border-color-light: rgb(0,153,153);
	table-border-color-dark: rgb(0,0,51); 
}
h1
{
	color: rgb(255,204,0);
}
h2
{
	color: rgb(0,204,255); 
}
h3
{
	color: rgb(51,255,204); 
}
h4
{
	color: rgb(255,102,0);
}
h5
{
	color: rgb(51,255,51);
}
h6
{
	color: rgb(204,255,0);
}
