#include "windows.h"
#include "hooks32.h"

HookSampleMenu MENU
BEGIN
    POPUP	 "&Hooks"
    BEGIN
	MENUITEM "&Window Function Filter\tWH_CALLWNDPROC",	 IDM_CALLWNDPROC
	MENUITEM "&Computer Based Training Filter\tWH_CBT",	 IDM_CBT
	MENUITEM "&Debug Filter\tWH_DEBUG", 	  IDM_DEBUG
	MENUITEM "&Get Message Filter\tWH_GETMESSAGE",		 IDM_GETMESSAGE
	MENUITEM "Journal &Playback Filter\tWH_JOURNALPLAYBACK", IDM_JOURNALPLAYBACK, GRAYED
	MENUITEM "Journal &Record Filter\tWH_JOURNALRECORD",	 IDM_JOURNALRECORD
	MENUITEM "&Keyboard Filter\tWH_KEYBOARD",		 IDM_KEYBOARD
	MENUITEM "M&ouse Filter\tWH_MOUSE",			 IDM_MOUSE
	MENUITEM "&Message Filter\tWH_MSGFILTER",		 IDM_MSGFILTER
	MENUITEM "&System Message Filter\tWH_SYSMSGFILTER",	 IDM_SYSMSGFILTER
    END
    POPUP        "&Help"
    BEGIN
	MENUITEM "&About Sample Hooks Application...", IDM_ABOUT
    END
END

AboutBox DIALOG 22, 17, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About Hooks"
BEGIN
    CTEXT "Microsoft Developer Program"   -1,	    0,	5, 144,  8
    CTEXT "Hook Sample Application"	  -1,	    0, 14, 144,  8
    CTEXT "Version 1.0" 		  -1,	    0, 34, 144,  8
    ICON  "HooksIcon"			  -1,	    12,26,  16, 21
    DEFPUSHBUTTON "OK"			IDOK,	   53, 59,  32, 14,	 WS_GROUP
END


HooksIcon ICON hooks32.ico



#include "messages.rc"
