#include "windows.h"


/*
   Some messages use the actual number instead of the Defined constants
   because if windows.h turns off some messages if RC_INVOKED
*/

STRINGTABLE {
   WM_NULL,		    "WM_NULL"
   WM_CREATE,		    "WM_CREATE"
   WM_DESTROY,		    "WM_DESTROY"
   WM_MOVE,		    "WM_MOVE"
   WM_SIZE,		    "WM_SIZE"
   WM_ACTIVATE, 	    "WM_ACTIVATE"
   WM_SETFOCUS, 	    "WM_SETFOCUS"
   WM_KILLFOCUS,	    "WM_KILLFOCUS"
   WM_ENABLE,		    "WM_ENABLE"
   WM_SETREDRAW,	    "WM_SETREDRAW"
   WM_SETTEXT,		    "WM_SETTEXT"
   WM_GETTEXT,		    "WM_GETTEXT"
   WM_GETTEXTLENGTH,	    "WM_GETTEXTLENGTH"
   WM_PAINT,		    "WM_PAINT"
   WM_CLOSE,		    "WM_CLOSE"
   WM_QUERYENDSESSION,	    "WM_QUERYENDSESSION"
   WM_QUIT,		    "WM_QUIT"
   WM_QUERYOPEN,	    "WM_QUERYOPEN"
   WM_ERASEBKGND,	    "WM_ERASEBKGND"
   0x0015,		    "WM_SYSCOLORCHANGE"
   WM_ENDSESSION,	    "WM_ENDSESSION"
   WM_SHOWWINDOW,	    "WM_SHOWWINDOW"
   WM_WININICHANGE,	    "WM_WININICHANGE"
   WM_DEVMODECHANGE,	    "WM_DEVMODECHANGE"
   WM_ACTIVATEAPP,	    "WM_ACTIVATEAPP"
   0x001D,		    "WM_FONTCHANGE"
   WM_TIMECHANGE,	    "WM_TIMECHANGE"
   WM_CANCELMODE,	    "WM_CANCELMODE"
   WM_SETCURSOR,	    "WM_SETCURSOR"
   WM_MOUSEACTIVATE,	    "WM_MOUSEACTIVATE"
   WM_CHILDACTIVATE,	    "WM_CHILDACTIVATE"
   WM_QUEUESYNC,	    "WM_QUEUESYNC"
   WM_GETMINMAXINFO,	    "WM_GETMINMAXINFO"
   WM_ICONERASEBKGND,	    "WM_ICONERASEBKGND"
   WM_NEXTDLGCTL,	    "WM_NEXTDLGCTL"
   WM_SPOOLERSTATUS,	    "WM_SPOOLERSTATUS"
   WM_DRAWITEM, 	    "WM_DRAWITEM"
   WM_MEASUREITEM,	    "WM_MEASUREITEM"
   WM_DELETEITEM,	    "WM_DELETEITEM"
   WM_VKEYTOITEM,	    "WM_VKEYTOITEM"
   WM_CHARTOITEM,	    "WM_CHARTOITEM"
   WM_SETFONT,		    "WM_SETFONT"
   WM_GETFONT,		    "WM_GETFONT"
   WM_QUERYDRAGICON,	    "WM_QUERYDRAGICON"
   WM_COMPAREITEM,	    "WM_COMPAREITEM"
   WM_COMPACTING,	    "WM_COMPACTING"
   0x0044,		    "WM_COMMNOTIFY"
   WM_WINDOWPOSCHANGING,    "WM_WINDOWPOSCHANGING"
   WM_WINDOWPOSCHANGED,     "WM_WINDOWPOSCHANGED"
   WM_POWER,		    "WM_POWER"
   WM_NCCREATE, 	    "WM_NCCREATE"
   WM_NCDESTROY,	    "WM_NCDESTROY"
   WM_NCCALCSIZE,	    "WM_NCCALCSIZE"
   WM_NCHITTEST,	    "WM_NCHITTEST"
   WM_NCPAINT,		    "WM_NCPAINT"
   WM_NCACTIVATE,	    "WM_NCACTIVATE"
   WM_GETDLGCODE,	    "WM_GETDLGCODE"
   WM_NCMOUSEMOVE,	    "WM_NCMOUSEMOVE"
   WM_NCLBUTTONDOWN,	    "WM_NCLBUTTONDOWN"
   WM_NCLBUTTONUP,	    "WM_NCLBUTTONUP"
   WM_NCLBUTTONDBLCLK,	    "WM_NCLBUTTONDBLCLK"
   WM_NCRBUTTONDOWN,	    "WM_NCRBUTTONDOWN"
   WM_NCRBUTTONUP,	    "WM_NCRBUTTONUP"
   WM_NCRBUTTONDBLCLK,	    "WM_NCRBUTTONDBLCLK"
   WM_NCMBUTTONDOWN,	    "WM_NCMBUTTONDOWN"
   WM_NCMBUTTONUP,	    "WM_NCMBUTTONUP"
   WM_NCMBUTTONDBLCLK,	    "WM_NCMBUTTONDBLCLK"
   WM_KEYDOWN,		    "WM_KEYDOWN"
   WM_KEYUP,		    "WM_KEYUP"
   WM_CHAR,		    "WM_CHAR"
   WM_DEADCHAR, 	    "WM_DEADCHAR"
   WM_SYSKEYDOWN,	    "WM_SYSKEYDOWN"
   WM_SYSKEYUP, 	    "WM_SYSKEYUP"
   WM_SYSCHAR,		    "WM_SYSCHAR"
   WM_SYSDEADCHAR,	    "WM_SYSDEADCHAR"
   WM_KEYLAST,		    "WM_KEYLAST"
   WM_INITDIALOG,	    "WM_INITDIALOG"
   WM_COMMAND,		    "WM_COMMAND"
   WM_SYSCOMMAND,	    "WM_SYSCOMMAND"
   WM_TIMER,		    "WM_TIMER"
   0x0114,		    "WM_HSCROLL"
   0x0115,		    "WM_VSCROLL"
   WM_INITMENU, 	    "WM_INITMENU"
   WM_INITMENUPOPUP,	    "WM_INITMENUPOPUP"
   WM_MENUSELECT,	    "WM_MENUSELECT"
   WM_MENUCHAR, 	    "WM_MENUCHAR"
   WM_ENTERIDLE,	    "WM_ENTERIDLE"
   WM_MOUSEMOVE,	    "WM_MOUSEMOVE"
   WM_LBUTTONDOWN,	    "WM_LBUTTONDOWN"
   WM_LBUTTONUP,	    "WM_LBUTTONUP"
   WM_LBUTTONDBLCLK,	    "WM_LBUTTONDBLCLK"
   WM_RBUTTONDOWN,	    "WM_RBUTTONDOWN"
   WM_RBUTTONUP,	    "WM_RBUTTONUP"
   WM_RBUTTONDBLCLK,	    "WM_RBUTTONDBLCLK"
   WM_MBUTTONDOWN,	    "WM_MBUTTONDOWN"
   WM_MBUTTONUP,	    "WM_MBUTTONUP"
   WM_MBUTTONDBLCLK,	    "WM_MBUTTONDBLCLK"
   WM_PARENTNOTIFY,	    "WM_PARENTNOTIFY"
   WM_MDICREATE,	    "WM_MDICREATE"
   WM_MDIDESTROY,	    "WM_MDIDESTROY"
   WM_MDIACTIVATE,	    "WM_MDIACTIVATE"
   WM_MDIRESTORE,	    "WM_MDIRESTORE"
   WM_MDINEXT,		    "WM_MDINEXT"
   WM_MDIMAXIMIZE,	    "WM_MDIMAXIMIZE"
   WM_MDITILE,		    "WM_MDITILE"
   WM_MDICASCADE,	    "WM_MDICASCADE"
   WM_MDIICONARRANGE,	    "WM_MDIICONARRANGE"
   WM_MDIGETACTIVE,	    "WM_MDIGETACTIVE"
   WM_MDISETMENU,	    "WM_MDISETMENU"
   WM_DROPFILES,	    "WM_DROPFILES"
   WM_CUT,		    "WM_CUT"
   WM_COPY,		    "WM_COPY"
   WM_PASTE,		    "WM_PASTE"
   WM_CLEAR,		    "WM_CLEAR"
   WM_UNDO,		    "WM_UNDO"
   WM_RENDERFORMAT,	    "WM_RENDERFORMAT"
   WM_RENDERALLFORMATS,     "WM_RENDERALLFORMATS"
   WM_DESTROYCLIPBOARD,     "WM_DESTROYCLIPBOARD"
   WM_DRAWCLIPBOARD,	    "WM_DRAWCLIPBOARD"
   WM_PAINTCLIPBOARD,	    "WM_PAINTCLIPBOARD"
   WM_VSCROLLCLIPBOARD,     "WM_VSCROLLCLIPBOARD"
   WM_SIZECLIPBOARD,	    "WM_SIZECLIPBOARD"
   WM_ASKCBFORMATNAME,	    "WM_ASKCBFORMATNAME"
   WM_CHANGECBCHAIN,	    "WM_CHANGECBCHAIN"
   WM_HSCROLLCLIPBOARD,     "WM_HSCROLLCLIPBOARD"
   0x030F,		    "WM_QUERYNEWPALETTE"
   0x0310,		    "WM_PALETTEISCHANGING"
   0x0311,		    "WM_PALETTECHANGED"
   WM_PENWINFIRST,	    "WM_PENWINFIRST"
   WM_PENWINLAST,	    "WM_PENWINLAST"
}
