//***************************************************************************
//
//  Life.rc
//
//***************************************************************************

#include <afxres.h>
#include "Resource.h"

IDR_MAINFRAME ICON Life.ico

GrayCell BITMAP GrayCell.bmp
BlueCell BITMAP BlueCell.bmp

IDR_MAINFRAME MENU
BEGIN
    POPUP "&File" {
        MENUITEM "&New\tCtrl+N",            ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O",        ID_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Save\tCtrl+S",           ID_FILE_SAVE
        MENUITEM "Save &As...\tCtrl+A",     ID_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "Recent File",             ID_FILE_MRU_FILE1
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                   ID_APP_EXIT
    }
    POPUP "&Options" {
        MENUITEM "Ste&p\tF10",              ID_OPTIONS_STEP
        MENUITEM SEPARATOR
        MENUITEM "&Open Boundary",          ID_OPTIONS_OPEN_BOUNDARY
        MENUITEM "Closed Boundary",         ID_OPTIONS_CLOSED_BOUNDARY
    }
    POPUP "&View" {
        MENUITEM "&Status Bar",             ID_VIEW_STATUS_BAR
    }
    POPUP "&Help" {
        MENUITEM "&About Life...",          ID_APP_ABOUT
    }
END

IDR_MAINFRAME ACCELERATORS
BEGIN
    "N",    ID_FILE_NEW,        VIRTKEY, CONTROL
    "O",    ID_FILE_OPEN,       VIRTKEY, CONTROL
    "S",    ID_FILE_SAVE,       VIRTKEY, CONTROL
    "A",    ID_FILE_SAVE_AS,    VIRTKEY, CONTROL
    VK_F10, ID_OPTIONS_STEP,    VIRTKEY
END

STRINGTABLE
BEGIN
    IDR_MAINFRAME    "Life\n\n\nLife Grids (*.lif)\n.lif\nLife.Grid\nLife Grid"
END

STRINGTABLE
BEGIN
    AFX_IDS_IDLEMESSAGE         "Ready"
    ID_OPTIONS_STEP             "Evolve the grid one generation"
    ID_OPTIONS_OPEN_BOUNDARY    "Enable wrap-around boundaries"
    ID_OPTIONS_CLOSED_BOUNDARY  "Disable wrap-around boundaries"
END

GridSize DIALOG 0, 0, 148, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Grid Size"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Horizontal", -1, 12, 16, 40, 8
    LTEXT           "&Vertical", -1, 12, 36, 40, 8
    EDITTEXT        IDC_HORZ, 56, 12, 32, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_VERT, 56, 32, 32, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 100, 12, 40, 12, WS_GROUP
END

About DIALOG 0, 0, 256, 98
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About Life"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "", IDC_ICONRECT, 14, 12, 80, 74
    LTEXT           "Life Version 1.0", -1, 108, 12, 136, 8
    LTEXT           "From the book", -1, 108, 32, 136, 8
    LTEXT           """Programming Windows 95 with MFC""", -1, 108, 42, 136, 8
    LTEXT           "Copyright © 1996 by Jeff Prosise", -1, 108, 52, 136, 8
    DEFPUSHBUTTON   "OK", IDOK, 108, 72, 50, 14
END
