<STYLE type="text/css">
	SELECT {margin-top: 2px; margin-bottom: 3px; font-family: MS Gothic;}
	INPUT {margin-top: 2px; margin-bottom: 3px; font-family: MS Gothic;}
	TEXTAREA {font-family: MS Gothic;}
</STYLE>
 