#include "windows.h"
#include "global.h"

IDI_APP ICON         app.ico

Menu    MENU
begin
    popup   "&File"
    begin
        menuitem    "Load S&cene..."        IDM_LOADSCENE
        menuitem    "Load &Background..."   IDM_LOADBKGND
        menuitem    "Load &Sprite..."       IDM_LOADSPRITE 
        menuitem    "&Print"                IDM_PRINT     
        menuitem    "P&rint Setup..."       IDM_PRINTSETUP
        menuitem    SEPARATOR
        menuitem    "E&xit",                IDM_EXIT
    end

#ifdef DEBUG
    popup           "&Debug"
    begin
        menuitem    "0 (none)"              IDM_DEBUG0
        menuitem    "1 (errors only)"       IDM_DEBUG1
        menuitem    "2 (progress)"          IDM_DEBUG2
        menuitem    "3 (more detail)"       IDM_DEBUG3
        menuitem    "4 (data dumps)"        IDM_DEBUG4
        menuitem    SEPARATOR
        menuitem    "Re&paint\tCtrl+P"      IDM_REFRESH
        menuitem    "Re&draw and repaint\tCtrl+D"   IDM_REDRAW
        menuitem    "&Show Palette"         IDM_FILLBKGND
        menuitem    "Show Update &Rects\tCtrl+U"    IDM_SHOWUPDATES
        menuitem    "Auto &Update"          IDM_AUTOUPDATE
    end
#endif

    popup   "&Help"
    begin
        menuitem    "&Contents"             IDM_HELPCONTENTS
        menuitem    SEPARATOR
        menuitem    "&About..."             IDM_ABOUT
    end
end

AccTable ACCELERATORS
begin
    "^D",   IDM_REDRAW
    "^P",   IDM_REFRESH
    "^U",   IDM_SHOWUPDATES
end

rcinclude dialogs.dlg
