BODY
{
font-family : Verdana;
font-size : 11px;
color : #FFFFFF;
background-color:black;
}


td {font-size:11px; margin-left:3px;}


p {
color : white;
font-family : Verdana;
font-size : 11px;
}


div.article { font-size:12px;}

a {color : #0099FF; text-decoration : none; font-family:verdana;}
a:hover {color : white; text-decoration : underline; }

a.paper {color : #0099FF; text-decoration : none; font-family:verdana;}
a.paper:hover {color : orange; text-decoration : underline; }

a.news_author {color : orange; text-decoration : none; font-family:verdana; font-weight:bold;}
a.news_author:hover {color : orange; text-decoration : underline; }

hr.site {color:orange;}

INPUT
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  BACKGROUND-COLOR: #666666;
  COLOR: #FFFFFF;
  BORDER: #000000 solid 1px;
}

INPUT.BOUTTON
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  BACKGROUND-COLOR: #A9C3DB;
  COLOR: #000000;
  BORDER: #FFFFFF solid 1px;
}
TEXTAREA
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10px;
  BACKGROUND-COLOR: #666666;
  COLOR: #FFFFFF;
  BORDER: #000000 solid 1px;
}

CHECKBOX
{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  BACKGROUND-COLOR: #666666;
  COLOR: #000000;
  BORDER: #FFFFFF solid 1px;
}
