#include "windows.h"
#include "global.h"

IDI_APP ICON         app.ico

Menu    MENU
begin
    popup   "&File"
    begin
        menuitem    "E&xit",                IDM_EXIT
    end

end

AccTable ACCELERATORS
begin
    "^C",   IDM_EXIT
end

