BODY
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
P, TABLE
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10pt
}
H1
{
	color: #000080;
	font-family: "Times New Roman", serif;
	font-size: 30pt;
	font-weight: 900;
	align: center;
}
H2
{
	color: #600020;
	font-family: "Times New Roman", serif;
	font-size: 18pt;
	font-weight: bold
}
H3
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: bold
}
H4
{
	color: #401010;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: bold
}
PRE 
{ 
	BACKGROUND-COLOR:  #ECECE4; 
	FONT-FAMILY: "Courier New", Courier, mono; 
	WHITE-SPACE: pre; 
}
CODE 
{ 
	COLOR: #990000; 
	FONT-FAMILY: "Courier New", Courier, mono; 
}
