#include <windows.h>        // standard windows include
#include "scroll32.h"        

SCROLL32_ICON ICON scroll32.ico

ScrollMenu MENU
BEGIN
    POPUP        "&Options"
    BEGIN
        MENUITEM "&Set scrollbar position...", IDM_SETPOS
        MENUITEM "Set scrollbar r&ange...", IDM_SETRANGE
        MENUITEM SEPARATOR
        MENUITEM "&About...", IDM_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
END


AboutBox DIALOG 160, 78, 144, 82
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About ScrollBar Exerciser"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "OK", IDOK, 54, 56, 40, 14
    LTEXT           "ScrollBar Exerciser version 1.0", -1, 23, 17, 109, 8
    LTEXT           "written by Nancy Cluts", -1, 36, 27, 76, 8, NOT 
                    WS_GROUP
    LTEXT           "Microsoft Developer Network", -1, 25, 37, 99, 8, NOT 
                    WS_GROUP
END




SetPos DIALOG 113, 25, 296, 111
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Scrollbar Thumb Position"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "Vertical Scrollbar", IDC_VERTICAL, 15, 29, 72, 10
    AUTOCHECKBOX    "Horizontal Scrollbar", IDC_HORIZONTAL, 15, 49, 76, 10
    EDITTEXT        IDE_VERTPOS, 166, 26, 103, 12, ES_AUTOHSCROLL
    LTEXT           "Thumb position:", -1, 103, 28, 53, 8
    LTEXT           "Thumb position:", -1, 103, 50, 56, 8
    EDITTEXT        IDE_HORZPOS, 166, 49, 102, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "OK", IDOK, 100, 91, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 156, 91, 40, 14
END



SetRange DIALOG 113, 25, 296, 111
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Scrollbar Range"
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX    "Vertical Scrollbar", IDC_VERTICAL, 15, 29, 72, 10
    AUTOCHECKBOX    "Horizontal Scrollbar", IDC_HORIZONTAL, 15, 49, 76, 10
    EDITTEXT        IDE_VERTPOS, 166, 26, 103, 12, ES_AUTOHSCROLL
    LTEXT           "Maximum value:", -1, 103, 28, 53, 8
    LTEXT           "Maximum value:", -1, 103, 50, 56, 8
    EDITTEXT        IDE_HORZPOS, 166, 49, 102, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "OK", IDOK, 100, 91, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 156, 91, 40, 14
END
                                     
