#include <windows.h>        // standard windows include
#include "progress.h"        

PROGRESS_ICON ICON progress.ico

ProgressMenu MENU
BEGIN
    POPUP        "&Options"
    BEGIN
        MENUITEM "&Start!", IDM_START
        MENUITEM "&Stop!", IDM_STOP
        MENUITEM "Set &Range...", IDM_SETRANGE
        MENUITEM "E&xit", IDM_EXIT
    END
    POPUP        "&Help"
    BEGIN
        MENUITEM "&About...", IDM_ABOUT
    END
END

AboutBox DIALOG 160, 78, 144, 77
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About Progress Indicator Sample"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "OK", IDOK, 54, 51, 40, 14
    LTEXT           "Progress Indicator Sample version 1.0", -1, 28, 17, 92, 8
    LTEXT           "written by Nancy Cluts", -1, 36, 27, 76, 8, NOT 
                    WS_GROUP
    LTEXT           "Microsoft Developer Network", -1, 25, 37, 99, 8, NOT 
                    WS_GROUP
END







SetRange DIALOG 6, 18, 132, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Set Range"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDE_MIN, 75, 16, 35, 12, ES_AUTOHSCROLL
    EDITTEXT        IDE_MAX, 75, 38, 32, 12, ES_AUTOHSCROLL
    LTEXT           "Minimum value:", 103, 18, 16, 55, 8
    LTEXT           "Maximum value:", 104, 17, 39, 53, 8
    PUSHBUTTON      "OK", IDOK, 14, 68, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 67, 68, 40, 14
END
