# KallistiOS environment variable settings
#
# Example file for ia32/x86 compilation. These settings would work well
# on a Debian system with gcc-3.3 installed, but adjust to your liking.

# Build architecture
export KOS_ARCH="ia32"
export KOS_SUBARCH="prestine"

# KOS base paths
export KOS_BASE="/usr/local/home/bard/prj/kos"
export KOS_INCS="${KOS_BASE}/include"

# Make utility
export KOS_MAKE="make"

# Load utility
# Need a Bochs patcher here..
# export KOS_LOADER="dc-tool -n -x"

# Genromfs utility
export KOS_GENROMFS="${KOS_BASE}/utils/genromfs/genromfs"

# x86 GCC paths
export KOS_CC="gcc-3.3"
export KOS_CCPLUS="g++-3.3"
export KOS_AS="as"
export KOS_AR="ar"
export KOS_OBJCOPY="objcopy"
export KOS_LD="ld"
export KOS_STRIP="strip"
# export KOS_CFLAGS="-D_arch_sub_${KOS_SUBARCH} -Wall -g -O2 -fno-builtin -fno-strict-aliasing -fomit-frame-pointer"
export KOS_CFLAGS="-D_arch_sub_${KOS_SUBARCH} -Wall -g -O2 -fno-builtin -fno-strict-aliasing -DFRAME_POINTERS"
export KOS_CPPFLAGS="-fno-operator-names -fno-rtti -fno-exceptions"
export KOS_AFLAGS=""
export KOS_LDFLAGS="-nostartfiles -nostdlib -Wl,-Ttext=0x00010000"

