#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "PSAPIWorkingSetDemo.H"
#include "PSAPIWorkingSetDelta.H"

IDD_PSAPIWorkingSetDemo DIALOG 0, 0, 348, 244
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "PSAPI Working Set Demo"
FONT 8, "Courier New"
{
 CONTROL "ListBox1", IDC_LB_PROCESS_LIST, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 4, 240, 86
 CONTROL "Refresh Process List", IDC_BUTTON_REFRESH_PROCESS_LIST, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 250, 65, 88, 20
 CONTROL "ListBox2", IDC_LB_WORKING_SET_DETAILS, "listbox", LBS_NOTIFY | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 100, 340, 120
 CONTROL "About...", IDC_BUTTON_ABOUT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 225, 60, 12
 CONTROL "Empty working set", IDC_BUTTON_EMPTY_WORKING_SET, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 225, 80, 12
 CONTROL "Start Delta", IDC_BUTTON_START_DELTA, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 225, 80, 12
 CONTROL "End Delta", IDC_BUTTON_END_DELTA, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 225, 80, 12
 CONTROL "Total Memory", IDC_TOTAL_MEMORY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 250, 4, 80, 12
 CONTROL "Private Memory", IDC_PRIVATE_MEMORY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 250, 18, 80, 12
 CONTROL "Shared Memory", IDC_SHARED_MEMORY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 250, 32, 80, 12
 CONTROL "Page Tables", IDC_PAGE_TABLES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 250, 46, 80, 12
 CONTROL "Address    Size  Attrib  Owner", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 90, 208, 8
}

IDD_PSAPIWorkingSetDelta DIALOG 10, 10, 288, 120
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Working Set Delta"
FONT 8, "Courier New"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 103, 50, 14
 CONTROL "ListBox1", IDC_LB_DELTA, "listbox", LBS_NOTIFY | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 12, 280, 84
 CONTROL "VA        PC", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 2, 152, 9
}



