#include "windows.h"
#include "dderecon.h"

Icon    ICON         dderecon.ico

Menu    MENU
begin
    popup   "&File"
    begin
        menuitem    "E&xit",        IDM_EXIT
    end
    popup   "&Edit"
    begin
        menuitem    "Create DDE Link...",  IDM_CONNECT
        menuitem    "Delete DDE Link",     IDM_DISCONNECT, GRAYED
    end
    popup   "&Options"
    begin
        menuitem    "Auto reconnect",       IDM_AUTO
        menuitem    "Show system info",     IDM_SYSINFO
    end

end

rcinclude dialogs.dlg
