#include <windows.h>
#include "mltinst2.h"
MultInstDlg DIALOG 80, 66, 208, 48
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Multiple Instances 2.0 - MSJ"
BEGIN
    LTEXT "", IDC_TEXT_HINSTANCE, 54, 20, 100, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
    PUSHBUTTON "Invoke Another Instance", IDC_BUTTON_INVOKE_ANOTHER, 2, 32, 100, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Allow Another Instance", IDC_BUTTON_ALLOW_ANOTHER, 106, 32, 100, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    CTEXT "This app has multiple data segments.  Ordinarily, Windows", -1, 4, 4, 200, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
    CTEXT "will only let one instance of this app run.", -1, 4, 12, 200, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END
